In [2]:
#Shengtao Lin, Tianhe Wang

# Twitter Api

In [1]:
!pip install tweepy

Requirement already satisfied: tweepy in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (3.8.0)
Requirement already satisfied: six>=1.10.0 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from tweepy) (1.12.0)
Requirement already satisfied: requests>=2.11.1 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from tweepy) (2.22.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from tweepy) (1.2.0)
Requirement already satisfied: PySocks>=1.5.7 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from tweepy) (1.7.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (2019.6.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (1.24.2)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)

In [65]:
from tweepy.streaming import StreamListener
from tweepy import OAuthHandler
from tweepy import Stream

In [66]:
#key and tokens
#api key: bUvI6HoYH97pwjTmnMNAPTMTS
#api secret key: Hp420vZADZ25NMR0sqEf4eVlYXVtUsyL4AhwgdAxTf2ssbr0in
#access token: 1190435999551303680-vK990ORPT4tj7KU1TTkfOtARxNzLfz
#Access Token Secret: 6KWkz1UYuCPvvGKk22AvMumRpwlA2kO8DlIVZ5KwpQtTK

access_token = "1190435999551303680-vK990ORPT4tj7KU1TTkfOtARxNzLfz"
access_token_secret = "6KWkz1UYuCPvvGKk22AvMumRpwlA2kO8DlIVZ5KwpQtTK"
consumer_key = "bUvI6HoYH97pwjTmnMNAPTMTS"
consumer_secret = "Hp420vZADZ25NMR0sqEf4eVlYXVtUsyL4AhwgdAxTf2ssbr0in"

In [67]:
import sys
default_stdout = sys.stdout
sys.stdout = open('AI-out', 'w')

In [68]:
class StdOutListener(StreamListener):
    t_count=0
    
    def on_data(self, data):
        print (data)
        self.t_count += 1
        
        #stop by 
        if self.t_count >=12000:
            sys.exit("End")
            
        return True

    def on_error(self, status):
        print (status)
    


if __name__ == '__main__':

    #This handles Twitter authetification and the connection to Twitter Streaming API
    l = StdOutListener()
    auth = OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)
    stream = Stream(auth, l)

    #This line filter Twitter Streams to capture data by the keywords: 'python', 'javascript', 'ruby'
    stream.filter(track=['#ArtificialIntelligence'],languages=["en"])

SystemExit: End

In [70]:
sys.stdout = default_stdout

In [30]:
import json
count=0
with open("AI-out", "r") as f1:
    for line in f1:
        count+=1
        try:
            data = json.loads(line)
            # if you want to see a specific field, you can print it. 
            #If your file is big, there may be too many of these printed
            #print(data['text']) 
        except:
            continue
print(count)

24000

# DataBase create/insert

In [2]:
#Database import
import mysql.connector
import pymongo
from datetime import datetime
import sys
import json

In [3]:
mydbsql = mysql.connector.connect(
  host="localhost",
  user="root",
  password="12345678",
  database="TwitterDB"
)

In [4]:
mycursor = mydbsql.cursor(buffered=True)

In [39]:
#create DATABASE
mycursor.execute("CREATE DATABASE TwitterDB")

DatabaseError: 1007 (HY000): Can't create database 'TwitterDB'; database exists

In [6]:
#Create Table
#mycursor.execute("USE TwitterDB")
mycursor.execute("CREATE TABLE IF NOT EXISTS user("+
                 "user_id VARCHAR(255) PRIMARY KEY,"+
                "name VARCHAR(255),"+
                "screen_name VARCHAR(255),"+
                "location VARCHAR(255),"+
                "description VARCHAR(255),"+
                "followers_count INT NOT NULL,"+
                "friends_count INT NOT NULL,"+
                "listed_count INT NOT NULL,"+
                "favourites_count INT NOT NULL,"+
                "statuses_count INT NOT NULL,"+
                "created_at DATETIME NOT NULL);")

In [7]:
mycursor.execute("CREATE TABLE IF NOT EXISTS post("+
                 "user_id VARCHAR(255) NOT NULL,"+
                 "post_id VARCHAR(255) NOT NULL,"+
                 "created_at DATETIME NOT NULL,"+
                 "PRIMARY KEY (user_id, post_id),"+
                 "FOREIGN KEY (user_id) REFERENCES user(user_id));")

In [5]:
#drop user table for test
sql = "DROP TABLE post"
mycursor.execute(sql)
sql = "DROP TABLE user"
mycursor.execute(sql)

In [8]:
#MongoDB
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

In [9]:
#create database
mydbmongo = myclient["TwitterDB"]
#create collection
mycol = mydbmongo["Tweets"]

In [16]:
#start loading
#load function first

with open("AI-out", "r") as f1:
    for line in f1:
        
        try:
            data = json.loads(line)
            #print(data['id'])
            ProcessData(data) 
            
        except OSError as err:
            print("OS error: {0}".format(err))
        except ValueError:
            pass
        except:
            print("Unexpected error:", sys.exc_info()[0])
            raise

/Users/LINHTS/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:91: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

In [10]:
def ProcessData(data):
    
#-----------user infomation----------
    #tweet user
    if checkExist(data['user']["id"]):
        #already exist 
        updateUser(data['user'])
    else:
        #new user
        createNewUser(data['user']) 
        
        
    #retweet user
    if "retweeted_status" in data:
        if checkExist(data['retweeted_status']['user']["id"]):
            #already exist
            updateUser(data['retweeted_status']['user'])
        else:
            #new user
            createNewUser(data['retweeted_status']['user'])
            
#------------post ----------------
    newPost(data)

In [11]:
def checkExist(user_id):
    idquery= "SELECT COUNT(1) FROM user WHERE user_id = "+str(user_id)+";"
    mycursor.execute(idquery)
    myresult = mycursor.fetchall()

    if(myresult[0][0]!=0):
        return True
    else:
        return False

In [12]:
def createNewUser(data):
    user_id = data["id"]
    name = data["name"]
    screen_name=data["screen_name"]
    location = data["location"]
    description = data["description"]
    followers_count = data["followers_count"]
    friends_count = data["friends_count"]
    listed_count = data["listed_count"]
    favourites_count = data["favourites_count"]
    statuses_count = data["statuses_count"]
    
    new_datetime = datetime.strftime(datetime.strptime(data["created_at"],'%a %b %d %H:%M:%S +0000 %Y'), '%Y-%m-%d %H:%M:%S')
    created_at = new_datetime
    
    sql = ("INSERT INTO user (user_id, name, screen_name, location,"+
    " description, followers_count, friends_count, listed_count, favourites_count, statuses_count, created_at)"+
    " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)")
    val=(user_id,name,screen_name,location,description,int(followers_count)
         ,int(friends_count),int(listed_count),int(favourites_count),int(statuses_count),created_at)
 
    mycursor.execute(sql, val)
    mydbsql.commit()

In [13]:
def updateUser(data):
    user_id = data["id"]
    name = data["name"]
    screen_name=data["screen_name"]
    location = data["location"]
    description = data["description"]
    followers_count = data["followers_count"]
    friends_count = data["friends_count"]
    listed_count = data["listed_count"]
    favourites_count = data["favourites_count"]
    statuses_count = data["statuses_count"]
    
    sql = ("UPDATE user SET name = %s, "+
    "screen_name= %s, "+
    "location= %s, "+
    "description= %s, "+
    "followers_count= %s, "+
    "friends_count= %s, "+
    "listed_count= %s, "+
    "favourites_count= %s, "+
    "statuses_count= %s "+
    "WHERE user_id = %s")
    
    
    val = (name,screen_name,location,description,int(followers_count),
           int(friends_count),int(listed_count),int(favourites_count),int(statuses_count),user_id)
    #print(sql)
    mycursor.execute(sql, val)
    mydbsql.commit()

In [14]:
def newPost(data):
    if "retweeted_status" in data:
        # it is a RT
        RT = 1
        
        #for tweet
        if "extended_tweet" in data:
            #for tweet mongoDB
            tweet_id = data['id']
            text_full = data['extended_tweet']['full_text']
            text=text_full.partition('RT')[0]
            
            hashtag = []
            if("extended_tweet" in data['retweeted_status']):
                for ht in (data['retweeted_status']['extended_tweet']['entities']['hashtags']):
                    hashtag.append(ht['text'])
            else:
                for ht in (data['retweeted_status']['entities']['hashtags']):
                    hashtag.append(ht['text'])
        
            new_datetime = datetime.strftime(datetime.strptime(data["created_at"],'%a %b %d %H:%M:%S +0000 %Y'), '%Y-%m-%d %H:%M:%S')
            created_at = new_datetime
        
            quote_count=data['quote_count']
            reply_count=data['reply_count']
            retweet_count=data['retweet_count']
            favorite_count=data['favorite_count']
            
            user_id=data['user']['id']
            user_screen_name=data['user']['screen_name']
            
            rt_id=data['retweeted_status']['id']
            
        
            mydict = { "_id": tweet_id,"RT":RT,"text":text,"hashtag":hashtag,"created_at":created_at,
                      "quote_count":quote_count,"reply_count":reply_count,"retweet_count":retweet_count,
                      "favorite_count":favorite_count,"user_screen_name":user_screen_name,"rt_id":rt_id}
        
            x = mycol.insert_one(mydict)
        
            #for post table mySQL
        
            sql = ("INSERT INTO post (user_id, post_id, created_at) VALUES (%s, %s, %s)")
            val=(user_id,tweet_id,created_at)
        
            mycursor.execute(sql, val)
            mydbsql.commit()
        
        else:
            #for tweet mongoDB
            tweet_id = data['id']
            text_full = data['text']
            text=text_full.partition('RT')[0]
            
            hashtag = []
            if("extended_tweet" in data['retweeted_status']):
                for ht in (data['retweeted_status']['extended_tweet']['entities']['hashtags']):
                    hashtag.append(ht['text'])
            else:
                for ht in (data['retweeted_status']['entities']['hashtags']):
                    hashtag.append(ht['text'])
        
            new_datetime = datetime.strftime(datetime.strptime(data["created_at"],'%a %b %d %H:%M:%S +0000 %Y'), '%Y-%m-%d %H:%M:%S')
            created_at = new_datetime
        
            quote_count=data['quote_count']
            reply_count=data['reply_count']
            retweet_count=data['retweet_count']
            favorite_count=data['favorite_count']
            
            user_screen_name=data['user']['screen_name']
            rt_id=data['retweeted_status']['id']
        
            mydict = { "_id": tweet_id,"RT":RT,"text":text,"hashtag":hashtag,"created_at":created_at,
                      "quote_count":quote_count,"reply_count":reply_count,"retweet_count":retweet_count,
                      "favorite_count":favorite_count,"user_screen_name":user_screen_name,"rt_id":rt_id}
        
            x = mycol.insert_one(mydict)
        
            #for post table mySQL
            user_id=data['user']['id']
        
            sql = ("INSERT INTO post (user_id, post_id, created_at) VALUES (%s, %s, %s)")
            val=(user_id,tweet_id,created_at)
        
            mycursor.execute(sql, val)
            mydbsql.commit()
        
        #for retweet
        tweet_id = data['retweeted_status']['id']
        if mycol.find({'_id': tweet_id}).limit(1).count() > 0:
            # existed retweet
            pass
        else:
            # new retweet
            #print(data['retweeted_status'])
            insertNewPost(data['retweeted_status'])
        
    else:
        # not a RT
        insertNewPost(data)

In [15]:
def insertNewPost(data):
    if "extended_tweet" in data:
        #for tweet mongoDB
        tweet_id = data['id']
        RT = 0
        text = data['extended_tweet']['full_text']
        hashtag = []
        for ht in (data['extended_tweet']['entities']['hashtags']):
            hashtag.append(ht['text'])
        
        new_datetime = datetime.strftime(datetime.strptime(data["created_at"],'%a %b %d %H:%M:%S +0000 %Y'), '%Y-%m-%d %H:%M:%S')
        created_at = new_datetime
    
        quote_count=data['quote_count']
        reply_count=data['reply_count']
        retweet_count=data['retweet_count']
        favorite_count=data['favorite_count']
            
        user_id=data['user']['id']
        user_screen_name=data['user']['screen_name']
        
        mydict = { "_id": tweet_id,"RT":RT,"text":text,"hashtag":hashtag,"created_at":created_at,
                  "quote_count":quote_count,"reply_count":reply_count,"retweet_count":retweet_count,
                  "favorite_count":favorite_count,"user_screen_name":user_screen_name}
        
        x = mycol.insert_one(mydict)
        
        #for post table mySQL
        
        sql = ("INSERT INTO post (user_id, post_id, created_at) VALUES (%s, %s, %s)")
        val=(user_id,tweet_id,created_at)
    
        mycursor.execute(sql, val)
        mydbsql.commit()
        
    else:
        #for tweet mongoDB
        tweet_id = data['id']
        RT = 0
        text = data['text']
        hashtag = []
        for ht in (data['entities']['hashtags']):
            hashtag.append(ht['text'])
        
        new_datetime = datetime.strftime(datetime.strptime(data["created_at"],'%a %b %d %H:%M:%S +0000 %Y'), '%Y-%m-%d %H:%M:%S')
        created_at = new_datetime
        
        quote_count=data['quote_count']
        reply_count=data['reply_count']
        retweet_count=data['retweet_count']
        favorite_count=data['favorite_count']
            
        user_screen_name=data['user']['screen_name']
        
        mydict = { "_id": tweet_id,"RT":RT,"text":text,"hashtag":hashtag,"created_at":created_at,
                  "quote_count":quote_count,"reply_count":reply_count,"retweet_count":retweet_count,
                  "favorite_count":favorite_count,"user_screen_name":user_screen_name}
        
        x = mycol.insert_one(mydict)
        
        #for post table mySQL
        user_id=data['user']['id']
        
        sql = ("INSERT INTO post (user_id, post_id, created_at) VALUES (%s, %s, %s)")
        val=(user_id,tweet_id,created_at)
        
        mycursor.execute(sql, val)
        mydbsql.commit()

# Search Engine

In [135]:
import pandas as pd
import time
import numpy as np
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)
import re
from bson import regex

In [50]:
def main():

In [158]:
def processPost(posts):
    result=[]
    for x in posts:
        text=x['text']
        created_at=x['created_at']
        quote_count=x['quote_count']
        reply_count=x['reply_count']
        retweet_count=x['retweet_count']
        favorite_count=x['favorite_count']
        user_screen_name=x['user_screen_name']
        RT=x['RT']
        if RT==1:
            rtid=x['rt_id']
            myquery = { "_id": rtid }
            mydoc = mycol.find(myquery)
            for y in mydoc:
                rt_text=y['text']
                rt_name=y['user_screen_name']
            text = str(text)+(" @")+str(rt_name)+(" ")+str(rt_text)
        result.append([user_screen_name,text,created_at,quote_count,reply_count,retweet_count,favorite_count])
    df=pd.DataFrame(result,columns =["name","text","created_at","#quote","#reply","#retweet","#favorite"])
    
    l=len(df.index)
    i=0
    if l<=5:
        print(df)
    else:
        while i+5<l:
            print(df[i:i+5])
            i=i+5
            statement = input("Displaying 5 results with total "+str(l)+
                             " results, enter 0 to exit, enter any other key to see more.\n")
            if statement == '0':
                break
        print(df[i:l])

In [150]:
def searchWord(word):
    t0 = time.time()
    result=[]
    que=".*"+str(word)+".*"
    #regular expression search
    myquery = {"text": {"$regex" : re.compile(que)}}
    
    mydoc = mycol.find(myquery)
    for y in mydoc:
        result.append(y)
        
        
    processPost(result)

In [114]:
def searchUser(name):
    t0 = time.time()
    
    result=[]
    #get user info
    sql = "SELECT * FROM user WHERE (user_id = %s) OR (name = %s) OR (screen_name = %s);"
    val=(name,name,name)
    mycursor.execute(sql, val)
    myresult = mycursor.fetchall()
    x=myresult[0]
    df = pd.DataFrame([list(x),], columns =["id", "name", "screen_name", "location",
                                            "description","followers_count","friends_count",
                                            "listed_count","favourites_count","statuses_count","created_at"])
    print(df)
    
    #get user posts
    user_id=str(x[0])
    sql = "SELECT * FROM post WHERE (user_id= %s) ORDER BY created_at DESC;"
    val = (user_id,)
    mycursor.execute(sql, val)
    myresult = mycursor.fetchall()
    
    for x in myresult:
        myquery = { "_id": int(x[1]) }
        mydoc = mycol.find(myquery)
        for y in mydoc:
            result.append(y)
            
    t1 = time.time()
    processPost(result)
    
    
    total = t1-t0
    print("search time used: "+ str(total))

In [115]:
def search():
    while True:
        statement = input("For user search, enter 1\n"+"For tweet search, enter 2\n"+
                          "For hashtag search, enter 3\n"+"For time range search, enter 4\n"+
                          "To exit, enter 0\n")
        if(statement=='0'):
            print("Exit")
            break
        elif(statement=='1'):
            statement = input("Please enter the user name, screen name, or id:\n")
            searchUser(statement)
            break
        elif(statement=='2'):
            statement = input("Please enter the keyword:\n")
            searchWord(statement)
            break
        elif(statement=='3'):
            break
        elif(statement=='4'):
            break
        else:
            print("invalid input")

In [159]:
search()

For user search, enter 1
For tweet search, enter 2
For hashtag search, enter 3
For time range search, enter 4
To exit, enter 0
2
Please enter the keyword:
robot
              name  \
0  SuzanneC0leman
1  CurieuxExplorer
2  Xoriant
3  IainLJBrown
4  BenjaminP3ters

                                                                                                                                                                                                                                                                                                                  text  \
0  Artificial intelligence meets real friendship: College students are bonding with robots - https://t.co/9o1ASdd0yw\n\nRead more here: https://t.co/FwQYEskZu8\n\n#ArtificialIntelligence #AI #DataScience #MachineLearning #BigData #DeepLearning #NLP #Robots #IoT
1  #MiR200Hook, the shelf carrying #robot.\n\nðŸŽ¥ @WevolverApp\n\n@GlenGilmore @Nicochan33 @mvollmer1 @FrRonconi @JeroenBartelse @sebbourguignon @labordeolivier @Hana_ElSayyed @ShiCooks @mary_gambara @ShadRaza1 @RLDI_Lamy @gvalan\n\n#AI #TechForGood #ML #IIoT #IoT #ArtificialIntelligence https://t.co/xEogiMBCMO
2  How #AI Is transforming manufacturing and #IIoT?\n\nRead here: https://t.co/lkTag3BVII \n\n#iot #technology #internetofthings #ai #tech #robotics #automation #engineering #artificialintelligence #innovation https://t.co/PXZmxqwJk4
3  Artificial intelligence meets real friendship: College students are bonding with robots - https://t.co/SjoopoiMVr\n\nRead more here: https://t.co/N79WXaSW6F\n\n#ArtificialIntelligence #AI #DataScience #100DaysOfCode #Python #MachineLearning #BigData #DeepLearning #NLP #Robots #IoT
4  Artificial intelligence meets real friendship: College students are bonding with robots - https://t.co/93vT5Pf0Q0\n\nRead more here: https://t.co/0flWjJ6Gu5\n\n#ArtificialIntelligence #AI #DataScience #MachineLearning #BigData #100DaysOfCode #Python #DeepLearning #NLP #Robots #IoT

            created_at  #quote  #reply  #retweet  #favorite
0  2021-03-14 15:43:40  0       0       357       32
1  2021-04-10 12:53:40  0       0       17        17
2  2021-04-10 00:14:03  0       0       5         3
3  2021-03-14 15:53:09  2       1       607       59
4  2021-03-13 08:38:34  2       2       547       58
Displaying 5 results with total 36 results, enter 0 to exit, enter any other key to see more.

              name  \
5  EvaSmartAI
6  SpirosMargaris
7  Fabriziobustama
8  IainLJBrown
9  SuzanneC0leman

                                                                                                                                                                                                                                                                                                                  text  \
5  Meet DyRET, a robot that has a leg-up above them with its ability to lengthen and shorten its limbs\nCC @CurieuxExplorer #Robotics  #AI #ArtificialIntelligence #Automation #100DaysOfCode #MachineLearning #CodeNewbie #100DaysOfMLCode #WomenWhoCode #VegaLMS\nðŸ“½ via DigitalTrends https://t.co/dZkGL7HoLt
6  Biggest #influencers in #robotics in Q4 2020: \n\nThe top #individuals to follow \n\nhttps://t.co/O2kLvx9bVV #fintech #AI #ArtificialIntelligence #MachineLearning @VerdictUK @globaldataplc @Ronald_vanLoon @HaroldSinnott @mvollmer1 @IainLJBrown @GlenGilmore @KirkDBorne https://t.co/D5vsvzqBUX
7  The Titanoboa robotic snake is 15 meters long.\nBy @futurism \n#Robotics #Robot #AI #Engineering #MachineLearning #Tech #IoT #5G\n#ArtificialIntelligence #innovation\nCc: @Nicochan33 @sebbourguignon @labordeolivier @LouisSerge @gvalan @DrJDrooghaag @mvollmer1 @RLDI_Lamy @Victoryabro https://t.co/BtG1fe6adE
8  Engineers combine AI and wearable cameras in self-walking robotic exoskeletons - EurekAlert\n\nRead more here: https://t.co/1eTjSwy6Qr\n\n#ArtificialIntelligence #AI #DataScience #100DaysOfCode #Python #MachineLearning #BigData #DeepLearning #NLP #Robots #IoT
9  Engineers combine AI and wearable cameras in self-walking robotic legs - EurekAlert\n\nRead more here: https://t.co/P7gtHnvv5X\n\n#ArtificialIntelligence #AI #DataScience #MachineLearning #BigData #DeepLearning #NLP #Robots #IoT

            created_at  #quote  #reply  #retweet  #favorite
5  2021-04-10 17:41:12  0       0       0         0
6  2021-03-12 19:01:56  1       2       331       63
7  2021-04-09 17:20:46  5       4       78        107
8  2021-03-15 14:53:15  0       3       549       57
9  2021-03-15 13:43:35  1       0       326       28
Displaying 5 results with total 36 results, enter 0 to exit, enter any other key to see more.

              name  \
10  Eli_Krumova
11  IainLJBrown
12  BenjaminP3ters
13  nigewillson
14  BenjaminP3ters

                                                                                                                                                                                                                                                                                         text  \
10  I gave +Kred to @WhiteheartVic on @Kred. #influence #robotics #RPA #Tech #technology #technologies #techtrends #EmergingTech #AI #ML #ArtificialIntelligence #Automation #4IR #Industry40 #IoT #IIoT #IoTPL #Edge #CloudComputing #CyberSecurity
11  Artificial intelligence meets real friendship: College students are bonding with robots - https://t.co/SjoopoiMVr\n\nRead more here: https://t.co/N79WXaSW6F\n\n#ArtificialIntelligence #AI #DataScience #100DaysOfCode #Python #MachineLearning #BigData #DeepLearning #NLP #Robots #IoT
12  Artificial intelligence meets real friendship: College students are bonding with robots - https://t.co/93vT5Pf0Q0\n\nRead more here: https://t.co/0flWjJ6Gu5\n\n#ArtificialIntelligence #AI #DataScience #MachineLearning #BigData #100DaysOfCode #Python #DeepLearning #NLP #Robots #IoT
13  Makers of humanoid robot Sophia are building its sibling https://t.co/MDcWZT3ZL6  #ai #artificialintelligence #machinelearning #deeplearning #robots https://t.co/91BCPuDl0F
14  Engineers combine AI and wearable cameras in self-walking robotic exoskeletons - EurekAlert\n\nRead more here: https://t.co/gcwOOPSfu4\n\n#ArtificialIntelligence #AI #DataScience #MachineLearning #BigData #100DaysOfCode #Python #DeepLearning #NLP #Robots #IoT

             created_at  #quote  #reply  #retweet  #favorite
10  2021-04-10 18:16:21  0       0       0         0
11  2021-03-13 08:53:33  0       1       572       58
12  2021-03-14 15:38:21  0       0       574       60
13  2021-04-10 11:15:05  3       1       12        9
14  2021-03-15 14:38:15  0       0       397       46
Displaying 5 results with total 36 results, enter 0 to exit, enter any other key to see more.

               name  \
15  Gajendr40728665
16  SRPPaloAlto
17  JochenWirtz
18  realsteamsport
19  MinaChan77

                                                                                                                                                                                                                                                                                              text  \
15  The goal of robotics is to design machines that can help and assist humans.Â #robots #Robotics #Robots #RobotsForPeace #robot #TechnologyTimes #ArtificialIntelligence #Engineering #innovation #MachineLearning #webdevelopment #DesignChallenge https://t.co/786LhjDXLd
16  There's a flying autonomous robot that's better at picking fruit than you: The futuristic farming tool uses AI perception algorithms to identify fruit, and it can harvest absolutely nonstop. #ArtificialIntelligence #drones #SmartCity https://t.co/DLYsXR8zww https://t.co/OY8Atr44li
17  See figure for an excellent overview of the key technologies involved in intelligent automation. Great summary in the Business Times. \n.\n@pascal_bornet @ibarkin #intelligentautomation #artificialintelligence #AI #robotics #robots #RPA #service #customerservice https://t.co/AGYfcKMDBv
18  In an AI world we need to teach students how to work with robot writers https://t.co/YonEaRdgWf #Technology #ArtificialIntelligence #AI #Robots #Robotics #Engineeirng #MachineLearning #DeepLearning #Students #Writers #STEAM #STEM via @TechXplore_com
19  Anduril Is About To Give An AI Brain Transplant To Area-Iâ€™s Drones @Forbes #AI #ArtificialIntelligence #startup #tech #innovation #data #ML #MachineLearning #drones #robotics #100DaysOfCode #femtech #DEVCommunity #WomenWhoCode #DigitalTransformation  https://t.co/TTs73Q1QMK

             created_at  #quote  #reply  #retweet  #favorite
15  2021-04-10 18:37:03  0       0       0         0
16  2021-04-10 18:45:06  0       0       0         0
17  2021-04-10 07:23:30  0       0       6         11
18  2021-04-09 19:55:02  0       0       1         1
19  2021-04-10 18:57:59  0       0       0         0

Displaying 5 results with total 36 results, enter 0 to exit, enter any other key to see more.

              name  \
20  DJ_Robotics
21  SuzanneC0leman
22  BenjaminP3ters
23  globalupstream
24  IainLJBrown

                                                                                                                                                                                                                                                                                                                 text  \
20  A DJ robot named "Lynx" is under development!\nWe're aiming to hold an unveiling event in August 2021!\nOur crowdfunding campaign is now running on #Kickstarter!\nhttps://t.co/mjKexS3EL8\n \n#Crowdfunding #DJ #Robotics #AI #ArtificialIntelligence #Club #HouseMusic
21  Artificial intelligence meets real friendship: College students are bonding with robots - https://t.co/9o1ASdd0yw\n\nRead more here: https://t.co/FwQYEskZu8\n\n#ArtificialIntelligence #AI #DataScience #MachineLearning #BigData #DeepLearning #NLP #Robots #IoT
22  AppHarvest acquires ag robotics and artificial intelligence company Root AI to increase efficiency - The Lane Report\n\nRead more here: https://t.co/6W6zKrYcpZ\n\n#ArtificialIntelligence #AI #DataScience #MachineLearning #BigData #100DaysOfCode #Python #DeepLearning #NLP #Robots #Iâ€¦
23  Dr Anand Gupta, ADG- Development @DghIndia to join for the 2nd edition of Global Upstream Technology Conference #GUTEC2021\n#GUTEC #artificialintelligence #blockchain #technology #bigdata #machinelearning #cloudcomputing #cybersecurity #edgecomputing #robotics #drones #registernow https://t.co/YpTciuZvMz
24  AppHarvest acquires ag robotics and artificial intelligence company Root AI to increase efficiency - The Lane Report\n\nRead more here: https://t.co/EjRAUJSa5E\n\n#ArtificialIntelligence #AI #DataScience #100DaysOfCode #Python #MachineLearning #BigData #DeepLearning #NLP #Robots #Iâ€¦

             created_at  #quote  #reply  #retweet  #favorite
20  2021-04-10 19:00:01  0       0       0         0
21  2021-03-13 08:43:22  2       0       361       28
22  2021-04-10 19:38:18  0       0       0         0
23  2021-04-08 10:47:09  1       0       9         5
24  2021-04-10 15:53:13  0       0       6         1
Displaying 5 results with total 36 results, enter 0 to exit, enter any other key to see more.

           name  \
25  TecharoApp
26  T36724
27  Houston__AI
28  Eli_Krumova
29  UniEMTECH

                                                                                                                                                                                                                                                                                                                     text  \
25  That's what we like to see! \nApp: @uptimerobot\n\n#server #serverdown #uptime #downtime #linuxsecurity #privacy #infosec #informationsecurity #OSINT #cybersecurity #MachineLearning #AI #ArtificialIntelligence #cloud #censorship #DataScience #DEVCommunity #bugbounty #100DaysOfCode https://t.co/5UmgMfBFke
26  This robot taught itself to walk using #AI. Details: https://t.co/3bqw7gyLlp \n\n#Robot #Robotics #Robots #Tech #ArtificialIntelligence #MachineLearning #DeepLearning #Python #Programming#DEVCommunity #DevOps #100DaysOfCode #WomenWhoCode
27  AppHarvest acquires ag robotics and artificial intelligence company Root AI to increase efficiency - The Lane Report https://t.co/nehutOnO7k #Houston #ArtificialIntelligence #AI
28  BionicSoftHand\nBy @CNET\nTY, MT @MargaretSiegien\n\nv/ @HeinzVHoenen\n#Bionicle #AI #Robotics #robots #RPA #NLP #ArtificialIntelligence #ML #MachineLearning #DeepLearning #DL #IOT #IIoT #IoTPL #Analytics #DatsScience #BigData #CyberSecurity #5G #Serverless #CloudComputing #TechTrends https://t.co/wKcDr8EMfb
29  Check out the newest blog on Artificial Intelligence for Peace: https://t.co/ksbcCGxafQ\n\n#artificialintelligence #ai #peace #worldpeace #robotics #robots #nasa #latest #advancement #technology #emergingtechnologies #emergingtech #uet #universityofemergingtechnolgies #tetf https://t.co/eTYqstWeaD

             created_at  #quote  #reply  #retweet  #favorite
25  2021-04-09 23:55:05  0       0       26        9
26  2021-04-09 13:28:14  0       0       22        5
27  2021-04-10 20:12:42  0       0       0         0
28  2021-04-10 20:17:58  0       0       0         0
29  2021-03-30 18:59:32  0       0       4         4
Displaying 5 results with total 36 results, enter 0 to exit, enter any other key to see more.

               name  \
30  kashthefuturist
31  idsnext
32  mvollmer1
33  Ronald_vanLoon
34  RKaffkleen

                                                                                                                                                                                                                                                                                                                 text  \
30  This bio-robotic arm is controlled by brain waves \n\n#ai #ArtificialIntelligence #robots #future #robotics https://t.co/qFPP92Uj8G
31  https://t.co/JuiPTLLdQs\nCheckout Binu Mathewsâ€™s (C.E.O of IDS Next) take on this interesting topic at the #HospitalityNet world panel.#WorldPanel #robots #robohotels #AI #hoteliers #artificialintelligence #hotel #hotelautomation #robohotel #roborestaurent #IDSNext https://t.co/6mlqTQferp
32  ðŸ¤– This #robot sold her NFT digital #artwork for almost $700K â€” and has plans to create more by @Quicktake \n\n#EmergingTech #Robotics #robots #ArtificialIntelligence #AI #ML #tech \n\n@Nicochan33 @TerenceLeungSF @PawlowskiMario @asokan_telecom @pascal_bornet @FrRonconi @TomRaftery https://t.co/MK8nPVs5x8
33  Flying #autonomous #robots that can pick fruits\nby @mashable\n\n#Drones #Robotics #RPA #AI #ArtificialIntelligence #SupplyChain #Tech #Technology\n\nCc: @paulg @vanrijmenam @davemcclure https://t.co/sFPrvJciQ0
34  #Safety features trial #today for our #clraning and #disinfection #robot at a client's in #Dubai\n\n#robotics #COVID19 #COVID #Covid_19 #ai #ArtificialIntelligence #4IR #robots #uae https://t.co/76wS3zWuh3

             created_at  #quote  #reply  #retweet  #favorite
30  2021-04-05 22:38:44  19      12      205       492
31  2021-03-31 05:42:41  0       0       1         1
32  2021-04-08 03:49:52  2       0       31        46
33  2021-04-03 06:58:28  2       0       34        77
34  2021-04-08 13:03:06  0       0       4         4
Displaying 5 results with total 36 results, enter 0 to exit, enter any other key to see more.

           name  \
35  Eli_Krumova

                                                                                                                                                                                                                                                                                                                  text  \
35  #Samsung #robots\nVia @mashable\nTY, MT @mvollmer1\n\nv/ @HeinzVHoenen @Samsung\n#Robotics #automation #AI #ML #ArtificialIntelligence #MachineLearning #IoT #IIoT #IoTPL #RPA #NLP #Automation #futureofwork #DX #DataScience #Analytics #BigData #robot #CyberSecurity #TechTrends #Tech https://t.co/rHBnPlFR90

             created_at  #quote  #reply  #retweet  #favorite
35  2021-04-10 21:05:28  0       0       0         0

In [ ]:
if __name__ == "__main__":
    main()

In [63]:
myclient.close()

In [64]:
mycursor.close()

True