In [2]:
#Shengtao Lin, Tianhe Wang

In [1]:
!pip install tweepy

Requirement already satisfied: tweepy in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (3.8.0)
Requirement already satisfied: six>=1.10.0 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from tweepy) (1.12.0)
Requirement already satisfied: requests>=2.11.1 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from tweepy) (2.22.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from tweepy) (1.2.0)
Requirement already satisfied: PySocks>=1.5.7 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from tweepy) (1.7.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (2019.6.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (1.24.2)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/LINHTS/anaconda3/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)

In [65]:
from tweepy.streaming import StreamListener
from tweepy import OAuthHandler
from tweepy import Stream

In [66]:
#key and tokens
#api key: bUvI6HoYH97pwjTmnMNAPTMTS
#api secret key: Hp420vZADZ25NMR0sqEf4eVlYXVtUsyL4AhwgdAxTf2ssbr0in
#access token: 1190435999551303680-vK990ORPT4tj7KU1TTkfOtARxNzLfz
#Access Token Secret: 6KWkz1UYuCPvvGKk22AvMumRpwlA2kO8DlIVZ5KwpQtTK

access_token = "1190435999551303680-vK990ORPT4tj7KU1TTkfOtARxNzLfz"
access_token_secret = "6KWkz1UYuCPvvGKk22AvMumRpwlA2kO8DlIVZ5KwpQtTK"
consumer_key = "bUvI6HoYH97pwjTmnMNAPTMTS"
consumer_secret = "Hp420vZADZ25NMR0sqEf4eVlYXVtUsyL4AhwgdAxTf2ssbr0in"

In [67]:
import sys
default_stdout = sys.stdout
sys.stdout = open('AI-out', 'w')

In [68]:
class StdOutListener(StreamListener):
    t_count=0
    
    def on_data(self, data):
        print (data)
        self.t_count += 1
        
        #stop by 
        if self.t_count >=12000:
            sys.exit("End")
            
        return True

    def on_error(self, status):
        print (status)
    


if __name__ == '__main__':

    #This handles Twitter authetification and the connection to Twitter Streaming API
    l = StdOutListener()
    auth = OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)
    stream = Stream(auth, l)

    #This line filter Twitter Streams to capture data by the keywords: 'python', 'javascript', 'ruby'
    stream.filter(track=['#ArtificialIntelligence'],languages=["en"])

SystemExit: End

In [70]:
sys.stdout = default_stdout

In [30]:
import json
count=0
with open("AI-out", "r") as f1:
    for line in f1:
        count+=1
        try:
            data = json.loads(line)
            # if you want to see a specific field, you can print it. 
            #If your file is big, there may be too many of these printed
            #print(data['text']) 
        except:
            continue
print(count)

24000

In [1]:
#Database import

import mysql.connector
import pymongo
from datetime import datetime
import sys
import json

In [2]:
mydbsql = mysql.connector.connect(
  host="localhost",
  user="root",
  password="12345678",
  database="TwitterDB"
)

In [3]:
mycursor = mydbsql.cursor(buffered=True)

In [39]:
#create DATABASE
mycursor.execute("CREATE DATABASE TwitterDB")

DatabaseError: 1007 (HY000): Can't create database 'TwitterDB'; database exists

In [51]:
#Create Table
#mycursor.execute("USE TwitterDB")
mycursor.execute("CREATE TABLE IF NOT EXISTS user("+
                 "user_id VARCHAR(255) PRIMARY KEY,"+
                "name VARCHAR(255),"+
                "screen_name VARCHAR(255),"+
                "location VARCHAR(255),"+
                "description VARCHAR(255),"+
                "followers_count INT NOT NULL,"+
                "friends_count INT NOT NULL,"+
                "listed_count INT NOT NULL,"+
                "favourites_count INT NOT NULL,"+
                "statuses_count INT NOT NULL,"+
                "created_at DATETIME NOT NULL);")

In [52]:
mycursor.execute("CREATE TABLE IF NOT EXISTS post("+
                 "user_id VARCHAR(255) NOT NULL,"+
                 "post_id VARCHAR(255) NOT NULL,"+
                 "created_at DATETIME NOT NULL,"+
                 "PRIMARY KEY (user_id, post_id),"+
                 "FOREIGN KEY (user_id) REFERENCES user(user_id));")

In [50]:
#drop user table for test
sql = "DROP TABLE post"
mycursor.execute(sql)
sql = "DROP TABLE user"
mycursor.execute(sql)

In [4]:
#MongoDB
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

In [53]:
#create database
mydbmongo = myclient["TwitterDB"]
#create collection
mycol = mydbmongo["Tweets"]

In [21]:
#counter=0

In [54]:
#start loading
with open("AI-out", "r") as f1:
    for line in f1:
        
        try:
            data = json.loads(line)
            #print(data['id'])
            ProcessData(data) 
            
        except OSError as err:
            print("OS error: {0}".format(err))
        except ValueError:
            pass
        except:
            print("Unexpected error:", sys.exc_info()[0])
            raise

Unexpected error: <class 'mysql.connector.errors.IntegrityError'>

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`twitterdb`.`post`, CONSTRAINT `post_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`))

680

In [55]:
def ProcessData(data):
    
#-----------user infomation----------
    #tweet user
    if checkExist(data['user']["id"]):
        #already exist 
        updateUser(data['user'])
    else:
        #new user
        createNewUser(data['user']) 
        
        
    #retweet user
    if "retweeted_status" in data:
        if checkExist(data['retweeted_status']['user']["id"]):
            #already exist
            updateUser(data['retweeted_status']['user'])
        else:
            #new user
            createNewUser(data['retweeted_status']['user'])
            
#------------post ----------------
    newPost(data)

In [7]:
def checkExist(user_id):
    idquery= "SELECT COUNT(1) FROM user WHERE user_id = "+str(user_id)+";"
    mycursor.execute(idquery)
    myresult = mycursor.fetchall()

    if(myresult[0][0]!=0):
        return True
    else:
        return False

In [8]:
def createNewUser(data):
    user_id = data["id"]
    name = data["name"]
    screen_name=data["screen_name"]
    location = data["location"]
    description = data["description"]
    followers_count = data["followers_count"]
    friends_count = data["friends_count"]
    listed_count = data["listed_count"]
    favourites_count = data["favourites_count"]
    statuses_count = data["statuses_count"]
    
    new_datetime = datetime.strftime(datetime.strptime(data["created_at"],'%a %b %d %H:%M:%S +0000 %Y'), '%Y-%m-%d %H:%M:%S')
    created_at = new_datetime
    
    sql = ("INSERT INTO user (user_id, name, screen_name, location,"+
    " description, followers_count, friends_count, listed_count, favourites_count, statuses_count, created_at)"+
    " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)")
    val=(user_id,name,screen_name,location,description,int(followers_count)
         ,int(friends_count),int(listed_count),int(favourites_count),int(statuses_count),created_at)
 
    mycursor.execute(sql, val)
    mydbsql.commit()

In [9]:
def updateUser(data):
    user_id = data["id"]
    name = data["name"]
    screen_name=data["screen_name"]
    location = data["location"]
    description = data["description"]
    followers_count = data["followers_count"]
    friends_count = data["friends_count"]
    listed_count = data["listed_count"]
    favourites_count = data["favourites_count"]
    statuses_count = data["statuses_count"]
    
    sql = ("UPDATE user SET name = %s, "+
    "screen_name= %s, "+
    "location= %s, "+
    "description= %s, "+
    "followers_count= %s, "+
    "friends_count= %s, "+
    "listed_count= %s, "+
    "favourites_count= %s, "+
    "statuses_count= %s "+
    "WHERE user_id = %s")
    
    
    val = (name,screen_name,location,description,int(followers_count),
           int(friends_count),int(listed_count),int(favourites_count),int(statuses_count),user_id)
    #print(sql)
    mycursor.execute(sql, val)
    mydbsql.commit()

In [48]:
def newPost(data):
    if "retweeted_status" in data:
        # it is a RT
        RT = 1
        
        #for tweet
        if "extended_tweet" in data:
            #for tweet mongoDB
            tweet_id = data['id']
            text_full = data['extended_tweet']['full_text']
            text=text_full.partition('RT')[0]
            
            hashtag = []
            for ht in (data['extended_tweet']['entities']['hashtags']):
                hashtag.append(ht['text'])
        
            new_datetime = datetime.strftime(datetime.strptime(data["created_at"],'%a %b %d %H:%M:%S +0000 %Y'), '%Y-%m-%d %H:%M:%S')
            created_at = new_datetime
        
            quote_count=data['quote_count']
            reply_count=data['reply_count']
            retweet_count=data['retweet_count']
            favorite_count=data['favorite_count']
            
            user_id=data['user']['id']
            user_screen_name=data['user']['screen_name']
        
            mydict = { "_id": tweet_id,"RT":RT,"text":text,"hashtag":hashtag,"created_at":created_at,
                      "quote_count":quote_count,"reply_count":reply_count,"retweet_count":retweet_count,
                      "favorite_count":favorite_count,"user_screen_name":user_screen_name}
        
            x = mycol.insert_one(mydict)
        
            #for post table mySQL
        
            sql = ("INSERT INTO post (user_id, post_id, created_at) VALUES (%s, %s, %s)")
            val=(user_id,tweet_id,created_at)
        
            mycursor.execute(sql, val)
            mydbsql.commit()
        
        else:
            #for tweet mongoDB
            tweet_id = data['id']
            text_full = data['text']
            text=text_full.partition('RT')[0]
            
            hashtag = []
            for ht in (data['entities']['hashtags']):
                hashtag.append(ht['text'])
        
            new_datetime = datetime.strftime(datetime.strptime(data["created_at"],'%a %b %d %H:%M:%S +0000 %Y'), '%Y-%m-%d %H:%M:%S')
            created_at = new_datetime
        
            quote_count=data['quote_count']
            reply_count=data['reply_count']
            retweet_count=data['retweet_count']
            favorite_count=data['favorite_count']
            
            user_screen_name=data['user']['screen_name']
        
            mydict = { "_id": tweet_id,"RT":RT,"text":text,"hashtag":hashtag,"created_at":created_at,
                      "quote_count":quote_count,"reply_count":reply_count,"retweet_count":retweet_count,
                      "favorite_count":favorite_count,"user_screen_name":user_screen_name}
        
            x = mycol.insert_one(mydict)
        
            #for post table mySQL
            user_id=data['user']['id']
        
            sql = ("INSERT INTO post (user_id, post_id, created_at) VALUES (%s, %s, %s)")
            val=(user_id,tweet_id,created_at)
        
            mycursor.execute(sql, val)
            mydbsql.commit()
        
        #for retweet
        tweet_id = data['retweeted_status']['id']
        if mycol.find({'_id': tweet_id}).limit(1).count() > 0:
            # existed retweet
            pass
        else:
            # new retweet
            #print(data['retweeted_status'])
            insertNewPost(data['retweeted_status'])
        
    else:
        # not a RT
        insertNewPost(data)

In [49]:
def insertNewPost(data):
    if "extended_tweet" in data:
        #for tweet mongoDB
        tweet_id = data['id']
        RT = 0
        text = data['extended_tweet']['full_text']
        hashtag = []
        for ht in (data['extended_tweet']['entities']['hashtags']):
            hashtag.append(ht['text'])
        
        new_datetime = datetime.strftime(datetime.strptime(data["created_at"],'%a %b %d %H:%M:%S +0000 %Y'), '%Y-%m-%d %H:%M:%S')
        created_at = new_datetime
    
        quote_count=data['quote_count']
        reply_count=data['reply_count']
        retweet_count=data['retweet_count']
        favorite_count=data['favorite_count']
            
        user_id=data['user']['id']
        user_screen_name=data['user']['screen_name']
        
        mydict = { "_id": tweet_id,"RT":RT,"text":text,"hashtag":hashtag,"created_at":created_at,
                  "quote_count":quote_count,"reply_count":reply_count,"retweet_count":retweet_count,
                  "favorite_count":favorite_count,"user_screen_name":user_screen_name}
        
        x = mycol.insert_one(mydict)
        
        #for post table mySQL
        
        sql = ("INSERT INTO post (user_id, post_id, created_at) VALUES (%s, %s, %s)")
        val=(user_id,tweet_id,created_at)
    
        mycursor.execute(sql, val)
        mydbsql.commit()
        
    else:
        #for tweet mongoDB
        tweet_id = data['id']
        RT = 0
        text = data['text']
        hashtag = []
        for ht in (data['entities']['hashtags']):
            hashtag.append(ht['text'])
        
        new_datetime = datetime.strftime(datetime.strptime(data["created_at"],'%a %b %d %H:%M:%S +0000 %Y'), '%Y-%m-%d %H:%M:%S')
        created_at = new_datetime
        
        quote_count=data['quote_count']
        reply_count=data['reply_count']
        retweet_count=data['retweet_count']
        favorite_count=data['favorite_count']
            
        user_screen_name=data['user']['screen_name']
        
        mydict = { "_id": tweet_id,"RT":RT,"text":text,"hashtag":hashtag,"created_at":created_at,
                  "quote_count":quote_count,"reply_count":reply_count,"retweet_count":retweet_count,
                  "favorite_count":favorite_count,"user_screen_name":user_screen_name}
        
        x = mycol.insert_one(mydict)
        
        #for post table mySQL
        user_id=data['user']['id']
        
        sql = ("INSERT INTO post (user_id, post_id, created_at) VALUES (%s, %s, %s)")
        val=(user_id,tweet_id,created_at)
        
        mycursor.execute(sql, val)
        mydbsql.commit()

In [50]:
with open('2.json') as f:
    content = json.load(f)
    
    newPost(content)

In [24]:
mycursor.execute("SELECT COUNT(*) FROM user")
mycursor.fetchone()

(854,)

In [36]:
mydict = { "_id": 1380932123226296300, "ht": ['artificialintelligence','machincelearning'] }

x = mycol.insert_one(mydict)

In [37]:
myquery = { "ht": "machincelearning" }
mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': 1380932123226296300, 'ht': ['artificialintelligence', 'machincelearning']}

In [25]:
a_string="abcde RT @zzzz zzzzz"
partitioned_string = a_string.partition('RT')
partitioned_string[0]

'abcde '

In [54]:
myclient.close()

In [55]:
mycursor.close()

True